body {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    height: auto;
}

nav ul {
    margin: 20px 10px 20px 20px;
    padding: 0px;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0 20px 0 0;
}

nav ul li a {
    background: #F5F5F5;
    color: #551A8B;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid #F5F5F5;
    font-family: cursive;
    font-weight: bold;
    font-size: 125%;
}

nav ul li a.active {
    color: #FF0000;
}

.mod {
    margin: 20px 0;
}

.content h1 {
    font-size: 200%;
    padding: 0 0 0 20px;
    font-weight: bold;
}

#canvas {
    height: 400px;
}

#properties-panel {
    top: 63px !important;
}

.io-editing-tools {
    top: 150px !important;
}

.showSearch {
    display: block;
}

.hideSearch {
    display: none;
}

.searchFilter {
    margin: 30px 0px 20px 20px;
    width: 80%;
}

.searchFilter label {
    font-weight: bold;
    font-size: 120%;
    display: block;
    margin: 0 0 10px 0;
}

.searchFilter input {
    width: 400px;
    border: 1px solid #551A8B;
    padding: 5px;
    border-radius: 5px;
}

.searchFilter ul {
    margin: 15px 0;
    padding: 0px;
}

.searchFilter ul li {
    list-style: none;
    margin: 0 0 15px 0;
    text-align: justify;
    line-height: 21px;
}

.searchFilter ul li strong {
    font-weight: bold;
    font-size: 120%;
    display: block;
}

.noResults {
    font-weight: bold;
    color: #FF0000;
    margin: 15px 0;
}